<div class="container-fluid">
  <div class="row d-flex flex-row">
    <div class="col-md-12">
      <div class="card form-container">
        <div class="card-body">
          <h3 class="text-center py-4">Iniciar sesión en Nivelics</h3>
          <form [formGroup]="formLogin">
            <div class="mb-3">
              <label class="form-label">Correo Electronico</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput type="email" formControlName="email" />
                <button mat-icon-button matSuffix>
                  <mat-icon>person</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <label class="form-label">Contraseña</label>
              <mat-form-field appearance="outline" class="w-100">
                <input
                  matInput
                  placeholder="***"
                  id="inputPassword"
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Ocultar contraseña'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility" : "visibility_off"
                  }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-checkbox formControlName="remindme">Recordarme</mat-checkbox>
            </div>
          </form>
        </div>
        <div class="col-12 text-center">
          <button
            [disabled]="invalidForm"
            (click)="login()"
            class="btn px-5 btn-primary"
          >
            Iniciar sesión
          </button>
          <p class="text-primary pt-3">¿Olvidaste tu contraseña?</p>
        </div>
      </div>
    </div>
  </div>
</div>
